<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/admin_panel_header.html' %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bryanrojasq.wordpress.com">
                <img src="http://placehold.it/200x50&text=LOGO" alt="LOGO">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i
                    class="fa fa-bar-chart-o"></i>
            </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b
                        class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
               
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i> MENU 2
                        <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                    </ul>
                </li>
               {% if is_manager %}
                <li>
                
                    
                    <a href="{% url 'vendors:admin_register' store.id %}"><i class="fa fa-fw fa-user-plus"></i>Register Admin</a>
                    
                </li>
                <li>
                    <a href="{% url 'vendors:add_product' store.id %}"><i class="fa fa-fw fa-paper-plane-o"></i>Add Product</a>
                </li>
                        <li>
                    <a href="{% url 'vendors:product_list' store.id %}"><i class="fa fa-fw fa-paper-plane-o"></i>Products</a>
                </li>
                   <li>
                
                    
                    <a href="{% url 'vendors:operator_register' store.id %}"><i class="fa fa-fw fa-user-plus"></i>Operator Register</a>
                    
                </li>
                          <li>
                    <a href="{% url 'vendors:admin_list' store.id  %}"><i class="fa fa-fw fa-paper-plane-o"></i>Admins</a>
                </li>
                        
                {% endif %}
            {% if is_admin %}
                <li>
                    <a href="{% url 'vendors:add_product' store.id %}"><i class="fa fa-fw fa-paper-plane-o"></i>Add Product</a>
                </li><li>
                    <a href="{% url 'vendors:product_list' store.id %}"><i class="fa fa-fw fa-paper-plane-o"></i>Products</a>
                </li>
                  <li>
                
                    
                    <a href="{% url 'vendors:operator_register' store.id %}"><i class="fa fa-fw fa-user-plus"></i>Operator Register</a>
                    <a href="{% url 'vendors:admin_list' store.id  %}"><i class="fa fa-fw fa-paper-plane-o"></i>Admins</a>
                </li>
                    
                </li>
            {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
{% block content %}{% endblock content %}
</body>
{% include 'includes/admin_panel_foother.html' %}
</html>