{% extends 'base/admin_panel_base.html' %}




<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
{% block content %}
    <div id="wrapper">


        <div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main">
            <div class="col-sm-12 col-md-12 well" id="content">
                <div class="row">
                    {% for i in admin %}
                        <div class="col-md-3">
                            <p>{{ i.first_name }}</p><br>
                            <p>{{ i.last_name }}</p><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
{% endblock content %}
