<!-- templates/customer/bill.html -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Bill</button>
</form>

<h2>Order Details</h2>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in order_details %}
        <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.product.price }}</td>
            <td>{{ order.total_price}}</td>
            <td>{{ order.get_status_display }}</td>
        </tr>
        {% endfor %}
    <p> total price : {{ total_price }}</p>
        <form method="post" action="{% url 'orders:pay_bill' cart.id %}">
            {% csrf_token %}
            <input type="submit" value="pay">
        </form>
  
    </tbody>
</table>
